@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.product-detail-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.product-detail {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    color: #5C4B51;
}

.product-detail .breadcrumbs {
    font-size: small;    
}

.product-detail .breadcrumbs a {
    color: inherit;
    text-decoration: none;
}

.product-detail .breadcrumbs a:hover {
    text-decoration: underline;
}

.product-detail hr {
    border: 1px solid #5C4B51;
}

.product-detail h2 {
    font-size: 2rem;
}

.product-detail-image {
    width: 30%;
}

.product-detail-image img {
    width: 100%;
    border-radius: 10px;
}

.product-detail-info {
    width: 70%;
    font-size: 19px;
}

.product-detail-info p:first-of-type {
    font-size: 1.5rem;
}

.product-detail-info .buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.5rem;
    justify-self: baseline;
}

.product-detail-info .buttons button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    padding: 0.3rem 2rem;
    border-radius: 25px;
    color: #FDFCF7;
    border: none;
}

.product-detail-info .buttons .add-to-cart-btn {
    background-color: #5C7F77;
}

.product-detail-info .buttons .stock-btn {
    background-color: #8EBEB2;
}

.product-detail-info .buttons .add-to-cart-btn:hover {
    cursor: pointer;
    background-color: #36524b;
}

@media screen and (max-width: 1000px) {
    .product-detail {
        width: 85%;
        flex-direction: column;
        align-items: center;
        font-size: clamp(16px, 4vw, 18px);
    }
    
    .product-detail-image {
        width: 60%;
    }

    .product-detail-info .buttons {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 720px) {
    .product-detail-image {
        width: 70%;
    }
    .product-detail-info .buttons {
        flex-direction: column;
        justify-content: center;
    }
    
}