@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.navbar {
    height: 145px;
    width: auto;
    background-color: #FDFCF7;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 0px 120px;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
}

.menuNavbar {
    display: flex;
    gap: 40px;

}

.myNavLink {
    color: #5C4B51;
    text-decoration: none;
}

.myActiveNavLink {
    color: #5C4B51;
    text-decoration: underline;
    text-decoration-color: #5C4B51;
}

.loginOptions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.loginOptions p {
    color: #5C4B51;
}

.loginOptions button {
    background-color: #5C4B51;
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.cartFind {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    width: 200px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-right: 30px; /* Espacio para la lupa */
   }

   .search-icon {
    position: relative;
    right: 255px;
   } 
