@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.footerbrown {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px 40px 120px;
    align-items: center;
    background-color: #5C4B51;
    font-family: "Inria Sans", sans-serif;
    color: white;

}

.myNavLink {
    color: white;
    text-decoration: none;
}

.linksfooter {
    display: flex;
    flex-direction: row;
    line-height: 5px;
    gap: 35px;
    text-align: center;
}

.titlefooter {
    text-decoration: underline;
}

.legal {
    line-height: 5px;
}

.footerred {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE6163;
    color: white;
    font-family: "Inria Sans", sans-serif;
    height: 35px;
    margin-top:-21px;
}
